.header
{
    
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    padding: 30px; 
}

.header ul
{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
   
    display: flex;
    justify-content: left;
    align-items: center;

}

.header ul li
{
    list-style-type: none;
}

.header ul li a
{
    font-size: x-large;
    font-family:sans-serif;
    margin: 10px;
    color: #757575;
    text-decoration: none;
}
h1{ 
   background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
body{
background-color: #90e0ef

}
.pokemon-container{

    display: flex;
    justify-content: space-around;
}