.header
{
    background-color: blueviolet;
    padding: 20px; 
}

.header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li
{
    list-style-type: none;
}

.header ul li a
{
    margin: 10px;
    color: white;
    text-decoration: none;
}